/* Mobile first approach */
.Model {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0,0,0,.5);
}

.modal-container {
  width:80%;
  height: auto;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  background: #222;
  border-radius: 25px;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.close-btn {
  position: absolute;
  z-index: 100;
  top: 5%;
  right: 5%;
  border: none;
  background: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center;
}

.close-btn:hover {
  cursor: pointer;
  color: #ee3124;
}

.date {
  display: block;
  font-size: 1.5rem;
  font-style: italic;
  color: #fafafa93;
  margin-top: 1rem;
}

.event-list {
  padding: 0;
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.event-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100px;
  margin: 15px auto;
}

.swatch {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.swatch:hover {
  cursor: pointer;
}


/* Event colors */
/* .holiday {
  background: rgb(255, 255, 0);
  color: #333;
}

.birthday {
  background: rgb(0, 0, 255);
}

.anniversary {
  background: rgb(128, 128, 128);
}

.busy {
  background: rgb(60, 156, 4);
}

.swatch .remove {
  border: 1px dashed #fff;
} */

/* Tablet and small screen Media Queries */
@media screen and (min-width: 600px) {
  .event-list li {
    height: 4.5rem;
  }
}