.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(0,0,0,.5);
}

.modal-container {
  width: 50%;
  height: auto;
  position: relative;
  z-index: 100;
  margin: 5rem auto;
  background: #222;
  border-radius: 25px;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.close-btn {
  position: absolute;
  z-index: 100;
  top: 5%;
  right: 5%;
  border: none;
  background: none;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-align: center;
}

.close-btn:hover {
  cursor: pointer;
  color: #ee3124;
}

.event-list {
  padding: 0;
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.event-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  border-radius: 15px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 5px;
}

.event-list li:hover {
  color: #ee3124;
  border: 1px solid #ee3124;
  cursor: pointer;
}