.App {
  text-align: center;
  background: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3rem;
}

.App-header {
  background-color: #ee3124;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-header h1 {
  font-size: 2rem;
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

.App h2 {
  width: 80%;
  margin: 2rem auto 0;
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  color: #eaeaea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
