/* Mobile first approach */
.App {
  text-align: center;
  background: rgb(19, 2, 43);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3rem;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  background-color: #ee3124;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-header h1 {
  font-size: 2rem;
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

.top-section {
  position: fixed;
  z-index: 80;
  width: 100%;
  margin: 2rem 0 0;
  background: rgb(34, 13, 63);
}

.top-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-stepper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1rem;
}

.top-section h2 {
  margin: auto 1rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  color: #eaeaea;
}

.top-section button {
  font-size: 1.5rem;
  height: 2rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.top-section button:hover {
  color: #ee3124;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tablet and small desktop media query */
@media screen and (min-width: 768px) {
  .top-section-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .year-stepper {
    margin: 0;
  }
}